* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
     background: #f3f3f3;
}

.header{
    margin: 0 auto;
    overflow: auto;
    padding: 0 20px;
    justify-content: space-between;
    background:linear-gradient(to right, #00AADD, #00bb65);
    color: #000;
}
.brand__name {
    margin: 40px 13px;
    font-size: 45px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(114, 10, 114);
}
.navbar ul {
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.navbar a {
    color: #fff;
    font-size: 17px;
}

.navbar a:hover {
    color: purple;
    font-weight: 700;
    content: "";
    display: flex;
    width: 100%;
    border-bottom: 1px solid #f5761A;
    transition: all 0.8s;
    padding: 10px;
}

.display {
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.9)),
        url('../pics/img2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.display-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    font-size: 25px;
    color: #fff;
}
.shop-now{
    width: 400px;
    height: 30px;
    background: #f2f2f2;
    border-radius: 4px;
}
.shop-now h2{
    justify-content: center;
    align-items: center;
    margin: 8px;
}
.shop-now h2:hover{
    color: blue;
}
.shop-now:hover{
    background: #f5761A;
}
.new-arrival{
    height: 100vh;
    background: #f3f3f3;
}
.arrival-text h3{
 transform: translateY(50px);
 font-size: 25px;
}
.img-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
    width: 100%;
    height: 70vh;
}
.img-des{
    /*
    display: grid;
    grid-template-columns: repeat(3,1fr);
    */
    display: flex;
    gap: 1rem;
    background:#f3f3f3;
    width: 200px;
    height: 35px;
    border-radius: 5px;
    box-shadow: 3px 2px 2px rgba(225, 225, 225, 0.75);
    color: #000;
}
.img-des:hover{
    background:  #f5761A;
}
.collection{
    height: 150vh;
    background: #f3f3f3;
}

.for-men{
    max-width: 1100px;
    min-height: 400px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url('../pics/img10.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}
.blog{
    height: 100vh;
    background: #f3f3f3;
}
.blogimg-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 90vh;
    grid-gap: 5rem;
}
