@-o-viewport {
    width: 100%;
}

@-ms-viewport {
    width: 100%;
}

@viewport {
    width: 100%;
}

html {
    overflow-y: auto;
}


@media (max-width:1700px) {
    body {
        width: 100%;
        overflow-x: hidden;
    }

    .header {
        width: 100%;
    }

    .display {
        width: 100%;
    }

    .shop-now {
        margin-top: -230px;
        transform: translateX(340px);
        width: 400px;
    }

    .new-arrival {
        height: 60vh;
    }

    .img-des {
        margin: 0px 90px;
    }

    .collection {
        height: 150vh;
        background: #f3f3f3;
    }

    .Cgrid-img {
        grid-template-columns: repeat(2, 1fr);
        background: #000;
    }

    .sellers {
        height: 150vh;
    }

    .for-men {
        max-width: 1700px;
        min-height: 500px;
    }
    .blog{
        display: flex;
        justify-content: center;
        align-items: center;
    }


}