
@-o-viewport {
    width: 100%;
}

@-ms-viewport {
    width: 100%;
}

@viewport {
    width: 100%;
}

html {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
}

@media screen and (max-width:1700px){
    body {
        overflow-x: hidden;
    }

    .header {
        width: 100%;
    }

    .display {
        width: 100%;
    }

    .shop-now {
        margin-top: -230px;
        margin-left: 620px;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .new-arrival {
        height: 60vh;
    }

    .img-des {
        margin: 0px 90px;
    }

    .collection {
        height: 150vh;
        background: #f3f3f3;
    }

    .Cgrid-img {
        grid-template-columns: repeat(2, 1fr);
        background: #fff;
    }

    .sellers {
        height: 150vh;
    }

    .for-men {
        max-width: 1700px;
        min-height: 500px;
    }

    .blog {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:1500px) and (max-width:1400px){
    body {
        width: 100%;
        overflow-x: hidden;
    }

    .header {
        width: 100%;
    }

    .display {
        width: 100%;
    }

    .shop-now {
        margin-top: -230px;
        margin-left: 520px;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .new-arrival {
        height: 60vh;
    }

    .img-des {
        margin: 0px 90px;
    }

    .collection {
        height: 150vh;
        background: #f3f3f3;
    }

    .Cgrid-img {
        grid-template-columns: repeat(2, 1fr);
        background: #000;
    }

    .sellers {
        height: 150vh;
    }

    .for-men {
        max-width: 1700px;
        min-height: 500px;
    }

    .blog {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:1390px) and (max-width:1290px) {
    body {
        width: 100%;
        overflow-x: hidden;
    }

    .shop-now {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 430px;
    }
    .bx1,
    .bx2,
    .bx3,
    .bx4 {
        width: 100px;
    }

    .img-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        height: 70vh;
        grid-gap: -10rem;
    }

    .img-des {
        transform: translateX(-90px);
    }
}

@media screen  and (max-width:1200px) and (max-width:1250px) and (max-width:1220px){
    body {
        width: 100%;
        overflow-x: hidden;
    }

    .shop-now {
        margin-top: -230px;
        margin-left: 430px;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .display-text p {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transform: translateX(60px);
    }

    .bx1,
    .bx2,
    .bx3,
    .bx4 {
        width: 100px;
    }

    .img-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        height: 70vh;
        grid-gap: -10rem;
    }

    .img-des {
        transform: translateX(-90px);
    }
}
