.w-width{
    width: 100%;
}
.h-height{
    height: 100%;
}
.flex{
    display: flex;
}
.text-decoration{
    text-decoration: none;
}
.outline{
    outline: none;
}
.list-style{
    list-style: none;
}
.justify-content{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.space-between{
    justify-content: space-between;
}
.m1{
    margin-top:-100px;
    margin-left: 290px;
}
.m2{
    margin: 85px;
}
.m3{
    margin: 7px;
}
.m4{
    margin: 30px;
}
.arrival-grid img{
    width: 200px;
    height: 300px;
    border-radius: 4px;
}
.Cgrid-img{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:  repeat(2,1fr);
    border-radius: 9px;
     gap: 1rem;
}
.span-two{
    grid-column: span 2
}
.span-four{
    grid-column: span 2
}


        
       
       


